[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8==1.5.1

[packages]
Django==3.0.5
pylint-django = "*"
django-tastypie = "*"
djang = "==2.1.7"
Pipfile = "*"

[requires]
python_version = "3.7"
